body{
    margin-left: 25%;
    margin-right: 25%;
    background-color: azure;

}
header{
    border: solid red;
}
h1{
    float: inline-end;
    width: 75%;
    font-family: Comic Sans MS;
}
#collec{
    box-sizing: border-box;
    border : 1px solid black;
    width: 100%;
    background-color: aliceblue;

}

.tab{
    height: 50px;
    width: 25%;
    border : 1px solid black;
}
input[type=submit]{
    background-color: aquamarine;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    width: 100%
}
footer{
    position: relative;
    top: 200px;
}
.ban{
    float: left;
}